:root {
    --font: #222831;
    --primary: #00ADB5;
    --secondary: #393E46;
    --optional: #EEEEEE;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: var(--font);
    outline: none;
}

body {
    display: flex;
    height: 100vh;
}

.container {
    margin: auto;
    text-align: center;
}

h1 {
    margin-top: 2rem;
    font-weight: 700;
}

form {
    text-align: start;
}

form .form-group {
    display: flex;
    flex-direction: column;
    margin: .5em 0;
}

form .form-group input {
    padding: .4rem .8rem;
    border-radius: 4px;
    border: none;
    border: 2px solid var(--primary);
    transition-duration: .2s;
}

form .form-group input:focus {
    transition-duration: .2s;
    box-shadow: 10px 10px 20px var(--optional);

}

form select {
    width: 100%;
    margin: 1rem 0;
    padding: .2rem .8rem;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    box-shadow: 10px 10px 20px var(--optional);
}

fieldset {
    border-radius: 4px;
    margin: .5rem 0;
    padding: 1rem 1rem;
    transition-duration: .2s;
    border: 1px solid var(--secondary);
}

fieldset:hover {
    transition-duration: .2s;
    box-shadow: 10px 10px 20px var(--optional);
}

fieldset legend {
    font-weight: bold;
    color: var(--primary);
}

fieldset .fieldset-group input {
    padding: .4rem .8rem;
    border: 1px solid var(--optional);
    transition-duration: .2s;
}

fieldset .fieldset-group input:focus {
    border: 1px solid var(--secondary);
    transition-duration: .2s;
}

textarea {
    padding: .5rem 1rem;
    border-radius: 4px;
    border: none;
    border: 1px solid var(--secondary);
    transition-duration: .2s;
}

textarea:hover {
    transition-duration: .2s;
    box-shadow: 10px 10px 20px var(--optional);
}

button {
    margin: 1rem 0;
    border: none;
    border-radius: 100px;
    padding: .5rem 0;
    font-size: 20px;
    transition-duration: .2s;
    box-shadow: 10px 10px 20px var(--optional);

}

button:active {
    transition-duration: .2s;
    color: var(--primary);
}
